<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Title</title>
</head>
<body>
    <div class="preview_container" id="loading">
        <img src="../static/loading.svg" style="color: white; display:flex" id="loading_svg"/>
    </div>
    <div id="content" class="preview_container">
        <div id="progress">List {{ list_count|tojson|safe }}/6</div>
        <br/>
        <form action="{{ url_for('show_rec_lists') }}" method="post" id='rec_form' class="preview_container">
        </form>
    </div>

<script src="../static/study.js"></script>
<script type="text/javascript">;
    list_count = {{ list_count|tojson|safe }}
    rec_list = {{ rec_list|tojson|safe }}
    init(rec_list)
</script>
</body>
</html>