<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="full_page flex_center">
        <form action="{{ url_for('request_recs') }}" method="post" onsubmit="loading()" id="content">
            <div class="row_container">
                <label for="participant_id" class="text_input flex_center">What is your Participant ID?</label>
                <input type="text" required name="participant_id" placeholder="Participant ID" class="text_input flex_center">
            </div>
            <div class="row_container">
                <label for="username" class="text_input flex_center">What is your Last.FM username?</label>
                <input type="text" required name="username" placeholder="username" class="text_input flex_center">
            </div>
            <div class="row_container">
                <label for="region" class="text_input flex_center">Which region are you currently in?</label>
                <select type="text" required name="region" class="text_input flex_center">
                    <option value="CA">Canada</option>
                    <option value="NL">Netherlands</option>
                    <option value="US">United States</option>
                </select>
            </div>
            <div class="row_container">
                <input type="submit" class="text_input flex_center">
            </div>
        </form>
        <img src="../static/loading.svg" style="color: white; display:none" id="loading"/>
    </div>

<script type="text/javascript">// <![CDATA[
        function loading(){
            document.getElementById('loading').style.display = "flex";
            document.getElementById('content').style.display = "none"
        }
</script>
</body>
</html>